:global(body) {
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.produtoPage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
  padding: 4rem;
  font-family: Arial, sans-serif;
}

.produtoImagem img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.produtoInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

.produtoInfo h2 {
  font-size: 1.8rem;
  margin: 0;
}

.produtoInfo p {
  font-size: 20px;
  color: #131212;
}

.opcoes {
  display: flex;
  gap: 1.2rem;
}

.campo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
}

.corOpcao {
  width: 28px;
  height: 28px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
}

.corOpcao:hover {
  transform: scale(1.1);
  border: 2px solid #b467d3;
}

.tamanhoOpcao {
  padding: 6px 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  font-weight: bold;
  /*transition: background 0.2s ease, border 0.2s ease;*/
  color: #131212;
}

.tamanhoOpcao:hover {
  background: #f2f2f2;
}

.selecionado {
  border: 1px solid #000000;
  background: #e6f0ff;
}

.campo button {
  padding: 4px 10px;
  border: 1px solid #db66db;
  border-radius: 6px;
  cursor: pointer;
  background: #f9f9f9;
  transition: background 0.2s ease;
}

.campo button:hover {
  background: rgb(253, 251, 251);
}

.botaoCarrinho {
  margin-top: 1rem;
  padding: 10px 16px;
  border: 2px solid #db66db;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  background: transparent;
  font-size: 1rem;
  font-weight: semibold;
  transition: background 0.3s ease;
}
